body{
    margin: 0;
}

hearder {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* text-align: center;  */
    height: 40px;
    border: 1px solid black;
    width: 100%;
    background-color: #5c9689;
}

.search-container{
    margin: 0 auto;
    width: 20%;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 10px;

}

.name-input {
    width: 90%;
    border: none;
}

.name-input:focus {
    outline: none;
}

.search-btn {
    display: inline-block;
}